singularity.autoMounts = true
singularity.enabled = true
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

//
// You may need to change this, based on your computing environment
//

// If you use a workload manager besides SLURM, you can replace 'slurm' with the relevant workload manager, if supported: https://www.nextflow.io/docs/latest/executor.html
// If you don't use a supported workload manager, you can replace 'slurm' with 'local'
process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    clusterOptions='--account=scjp0'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

// if the executor above is set to 'local' (i.e. you aren't using a supported workload manager),
// specify the computing resources available for running commands on your machine here
executor {
    name = 'local'
    cpus = 5
    memory = '300 GB'
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
// singularity.cacheDir = "/scratch/scjp_root/scjp0/${USER}/singularity-cache"

//
// Below are the key file names you'll need to change
//

params.blacklist = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38-blacklist.bed.gz', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10-blacklist.bed.gz']
params.chrom_sizes = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38.chrom_sizes', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10.chrom_sizes']
params.gene_bed = ['hg38': '/gpfs/accounts/scjp_root/scjp0/shared_data/reference/human/hg38/topmed/gene-bed/hg38/gencode.v30.annotation.ERCC92.gene-names.bed', 'mm10': '/gpfs/accounts/scjp_root/scjp0/shared_data/reference/mouse/mm10/gene-bed/gencode.vM25.gene-names.bed'] // a path to a BED12 file of gene locations (see example files for hg19 and mm10 in `data`)