//
// There should be no need to change this
//

singularity.autoMounts = true
singularity.enabled = true
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

//
// You may need to change this, based on your computing environment
//

// If you use a workload manager besides SLURM, you can replace 'slurm' with the relevant workload manager, if supported: https://www.nextflow.io/docs/latest/executor.html
// If you don't use a supported workload manager, you can replace 'slurm' with 'local'
process {
    executor='slurm'
    // containerOptions='--bind "/lab:/lab" --bind "/localscratch:/localscratch" --bind "/nfs:/nfs"' // bind paths if any of your files are not in your $HOME or the current working directory
    // clusterOptions='--constraint=wolverine' // to run only on wolverine
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

// if the executor above is set to 'local' (i.e. you aren't using a supported workload manager),
// specify the computing resources available for running commands on your machine here
executor {
    name = 'local'
    cpus = 5
    memory = '300 GB'
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
// singularity.cacheDir = '$HOME/singularity-cache'

//
// Below are the key file names you'll need to change
//

params.atac_barcodes = '/home/porchard/github/Multiome-QC-NextFlow/barcodes/barcodes.atac.737K-arc-v1.txt.gz' // list of whitelisted ATAC barcodes
params.rna_barcodes = '/home/porchard/github/Multiome-QC-NextFlow/barcodes/barcodes.rna.737K-arc-v1.txt.gz' // list of whitelisted RNA barcodes, ordered such that the Nth ATAC barcode in the atac_barcodes list corresponds to the Nth RNA barcode
params.blacklist = ["hg19": ["/lab/data/reference/human/hg19/annot/wgEncodeDacMapabilityConsensusExcludable.bed.gz", "/lab/data/reference/human/hg19/annot/wgEncodeDukeMapabilityRegionsExcludable.bed.gz"], "mm9": ["/lab/data/reference/mouse/mm9/annot/mm9-blacklist.bed.gz"], "rn6": ["/lab/work/porchard/data/mappability.new/rn6.blacklist.1.bed.gz"], 'hg38': ['/lab/data/reference/human/hg38/blacklist/manually_curated/hg38/ENCFF356LFX.bed.gz', '/home/porchard/duplicate-blacklist.bed.gz'], 'mm10': '/lab/work/porchard/reference/mappability/mm10/mm10-blacklist.v2.bed.gz']
params.chrom_sizes = ["hg19": "/lab/data/reference/human/hg19/hg19.chrom_sizes", "rn6": "/lab/work/porchard/data/chrom_sizes/rn6.chrom_sizes", 'hg38': '/lab/work/porchard/reference/chrom-sizes/hg38.chrom_sizes', 'mm10': '/lab/work/porchard/reference/chrom-sizes/mm10.chrom_sizes']